@import "tailwindcss";

@theme {
  --color-background: oklch(11.5% 0 0);
  --color-foreground: oklch(94% 0 326);
  --color-accent: oklch(95% 0.17793 105);
  --color-accent-muted: oklch(87% 0.17793 105);
}

:root {
  --font-sans: var(--font-noto-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
