@import "tailwindcss";

@theme {
  --color-background: oklch(0.115 0 0);
  --color-foreground: oklch(0.941 0.002 326);
  --color-accent: oklch(0.735 0.128 112.394);
}

:root {
  --font-sans: var(--font-noto-sans);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
